:root {
  --color-text: #1e2022;
  --color-text-header: #373475;
  --color-bg: #f0f5f9;
  --color-bg-dim: #c9d6df;
  --color-bg-dim2: #b6c3cc;
  --color-btn: #52616b;
  --color-btn-hover: #435b69;
  --color-btn-text: white;
  --color-btn-primary: #504b97;
  --color-btn-primary-hover: #3f3992;
  --color-btn-primary-text: white;
}

textarea {
  width: 30vw;
  height: 70vh;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--color-bg);
  outline: none;
  border-radius: 0.2rem;
}

h1 {
  font-size: 1.6rem;
}

h1 img {
  height: 3rem;
}

h1 > a,
h1 > a:visited,
h1 > a:active,
h1 > a:hover {
  color: var(--color-text-header);
  text-transform: none;
}

h1 > a:hover {
  text-decoration: none;
}

textarea:focus {
  border: none;
  outline: solid 2px var(--color-btn-primary-hover);
}

button {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  font-size: 1.4rem;
  border-radius: 0.2rem;
}

button:hover {
  background-color: var(--color-btn-hover);
  cursor: pointer;
}

button.primary {
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
}

button.primary:hover {
  background-color: var(--color-btn-primary-hover);
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "a c c"
    "b c c"
    "b c c"
    "d c c";

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body > header {
  grid-area: a;
  background-color: var(--color-bg-dim2);
  width: 34vw;
  height: 4rem;
  display: grid;
  place-content: center start;
  padding-left: 2rem;
}

body .inputs {
  grid-area: b;
  background-color: var(--color-bg-dim);
  width: 34vw;
  height: calc(100vh - 8rem);
  display: grid;
  place-content: center;
}

body .inputs p {
  text-align: center;
  margin: 1rem;
}

main {
  grid-area: c;
  width: 66vw;
  position: relative;
}

body > footer {
  grid-area: d;
  background-color: var(--color-bg-dim2);
  width: 34vw;
  height: 4rem;
  display: grid;
  place-content: center;
}

main > article {
  display: grid;
  place-content: center;
  height: calc(100vh - 8rem);
}

main > article > img,
main > article > pre,
main > article > video,
main > article > audio,
main > article > p {
  max-height: calc(100vh - 10rem);
  max-width: calc(66vw - 2rem);
}

pre {
  overflow: auto;
  height: calc(100vh - 10rem);
  width: calc(66vw - 2rem);
}

article img {
  min-width: 150px;
}

main > header {
  height: 4rem;
  padding: 1rem;
  display: grid;
  place-content: center;
}

main > footer {
  height: 4rem;
  display: grid;
  place-content: center;
}
main > footer > ul {
  list-style: none;
  font-size: 0;
}

main > footer > ul > li {
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  padding: 0 1rem;
}

main > footer > ul > * + * {
  border-left: solid 2px var(--color-btn-primary-hover);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: grid;
  place-content: center;
  padding: 1rem;
}

.info > p,
.info > h2 {
  max-width: 30rem;
}

.info > * + * {
  margin-top: 3rem;
}

.info > h2,
.info > p:last-child {
  text-align: center;
}

a,
a:visited,
a:active {
  color: var(--color-btn-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (max-width: 960px) {
  body {
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c"
      "d d d";
  }

  body > header,
  body > .inputs,
  body > main,
  body > footer {
    width: 100%;
  }

  body > .inputs {
    height: 35vh;
  }

  textarea {
    height: 20vh;
    width: calc(100vw - 4rem);
  }

  body > main {
    height: 60vh;
  }

  main > article {
    display: grid;
    place-content: center;
    height: calc(60vh - 8rem);
  }

  main > article > img,
  main > article > pre,
  main > article > video,
  main > article > audio,
  main > article > p {
    max-height: calc(60vh - 10rem);
    max-width: calc(100vw);
  }

  pre {
    overflow: auto;
    height: calc(60vh - 10rem);
    width: calc(100vw);
  }
}
